<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vérification de votre adresse email</title>
</head>
<body>
  <p>Bonjour,</p>
  <p>Merci de vous être inscrit. Veuillez utiliser le code suivant pour vérifier votre adresse email :</p>
  <h1>{{ code }}</h1>
  <p>Si vous n'avez pas demandé cette vérification, veuillez ignorer cet email.</p>
  <br>
  <p>Cordialement,</p>
  <p>L'équipe Harmoniq</p>
</body>
</html>
